.background    { background: rgb(52, 166, 251);
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.lava          { background: rgb(255, 100, 100); }
.wall          { background-image:url(zhuan.png);
background-size:cover;     }

.actor  { position: absolute;  }
.coin   { background-image:url(coin.png);
background-size:cover;  }
.player { background-image:url(maliao2.png);
background-size:cover; }

#music{
  left: 700px;
  top: 150px;
  position: absolute;
}

#userinfo{
  position: absolute;
  left: 470px;
  top: 150px;
}

#top10{
  position: absolute;
  left: 1100px;
  top: 200px;
}

.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
  position: absolute;
  left:450px;
  top:200px;
}

.lost .player {
  background: rgb(160, 64, 64);
}
.won .player {
  box-shadow: -4px -7px 8px white, 4px -7px 8px white;
}
